*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
}
#section{
  color:whitesmoke;
  font-size: xx-large;
  background-color:rgb(13, 28, 37);
  text-align: center;
  height:125px;
  width: 100%;
  position: absolute;
  padding:10px;
  justify-content: center;
  align-items: center;

}
